.glass-megaphone {
  opacity: 0.75;
  animation: shake 2s ease infinite;
}

@keyframes shake {
  0%, 100% { transform: rotate(0deg); }
  50% { transform: rotate(4deg); }
}

.work-in-progress-text {
  filter: invert(0.75);
}

.bi {
  font-size: 2.5rem;
  color: white;
  transition: color 0.2s ease;
}

.bi:hover {
  color: #0a66c2;
}